<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <h1><%= @post.title %></h1>
    </div>
  </div>

  <div class="row">
      <%= image_tag "flower.jpg", class: "img-responsive", style: "width:100%" %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
      <p><%= @post.body %></p>
      <p class="visible-xs text-right"><%= @post.created_at.strftime("Posted on %m/%d/%Y") %></p>
      <div class="visible-xs" style="font-size:20px">
        <span><a href="#">
          <i class="fa fa-heart" role="button" aria-hidden="true"></i>
        </a> 123 </span>
        <span class="pull-right"><a href="#">
          <i class="fa fa-bookmark" role="button" aria-hidden="true"></i>
        </a></span>
      </div>
      <p>
        <%= @post.category.name %>
        <span class="pull-right hidden-xs"><%= @post.created_at.strftime("Posted on %m/%d/%Y") %></span>
      </p>
      <%= link_to 'Edit Post', edit_post_path(@post), class: 'btn btn-warning' %>
      <%= link_to 'Delete Post', post_path(@post), method: :delete, class: 'btn btn-danger' %>
      <div class="media">
        <div class="media-left">
          <%= image_tag("flower.jpg", style: "width:100px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @post.user.full_name %></h4>
          <p>Roger Tsui is the author of all of these posts. At least until we
             implement the author column of the Post table. Which will probably
             happen at some point in the near future, so I might as well just
             implement it now, or I could do it later?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2">
      <div class="text-center">
        <h3>Leave a comment...</h3>
      </div>
      <p class="text-danger"><%= @comment.errors.full_messages.join(', ') %></p>
      <%= form_for [@post, @comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="author">Comment Author</label>
          <input type="text" name="author" value="" class="form-control">
        </div>
        <div class="text-center">
          <%= submit_tag 'Comment', class: "btn btn-danger" %>
        </div>
      <% end %>
      <hr>
      <% for comment in @post.comments do %>
        <div class="media">
          <div class="media-left">
            <%= image_tag("flower.jpg", style: "width:100px") %>
          </div>
          <div class="media-body">
            <p><%= comment.body%></p>
          </div>
          <div class="media-bottom">
            <p>
              <%= comment.user.full_name %>
              <span class="pull-right"><%= comment.created_at.strftime("Posted on %m/%d/%Y") %></span>
            </p>
            <%= link_to "Delete Comment", comment_path(comment), method: :delete, class: 'btn btn-danger btn-xs'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
